#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_SECRET=sk_live_3e53711dbafd61d98ba4341305f239781347d867d90c1b5196c0426c8fe285fb
UPLOADTHING_APP_ID=yolpewn2y9

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=ExBvztULyjACXYIBze9+fqB07pF7IJfZRuxivCw5ct0=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID=Ov23liju69UWmA5wZuau
GITHUB_SECRET=28fc350a8e3464ce9910abea572933584676424c


